body {
    background-color: #D9D9D9;
    color: #222222;
    font: 12px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
}
a {
    outline: medium none;
}
ul {
    margin: 0;
    padding: 0;
}
.main-div {
    background: none repeat scroll 0 0 #222222;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.main {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 3px solid #D9D9D9;
    height: 100%;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.header {
}
.tab-div {
    overflow: hidden;
}
.tab-div ul li {
    float: left;
    list-style: none outside none;
    margin-left: 0;
}
.tab-div ul li a {
    text-decoration: none;
}
.tab-div ul li a span {
    background: none repeat scroll 0 0 #222222;
    display: block;
    height: 35px;
    padding: 0 0 0 0;
}
.tab-div ul li a span span {
    background-position: right top;
    color: #AAAAAA;
    font-size: 14px;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
}
.tab-div ul li a:hover span {
    background: none repeat scroll 0 0 #444444;
    color: #FFFFFF;
}
.tab-div ul li a.active span {
    background: none repeat scroll 0 0 #222222;
    color: #FFFFFF;
    font-weight: bold;
}
.tab-container {
    border-top: 0 solid #FFFFFF;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.tab-div li a {
    color: #666666;
    display: block;
    font-weight: bold;
    line-height: 43px;
    padding: 0;
    text-align: center;
    text-decoration: none;
}
.tab-div li a:hover {
    color: #222222;
    text-decoration: none;
}
.tab-div li ul {
    background: none repeat scroll 0 0 #787878;
    border-bottom: 1px solid #787878;
    border-left: 1px solid #787878;
    border-right: 1px solid #787878;
    display: none;
    height: auto;
    opacity: 0.95;
    position: absolute;
    width: 134px;
    z-index: 200;
}
.tab-div li:hover ul {
    display: block;
}
.tab-div li li {
    display: block;
    float: none;
    width: 137px;
}
.tab-div li ul a {
    display: block;
    font-size: 12px;
    font-style: normal;
    padding: 0;
    text-align: left;
}
.tab-div li ul a:hover {
    background: none repeat scroll 0 0 #00CC66;
    color: #222222;
    opacity: 1;
}
.tab-div li ul a.active {
    background: none repeat scroll 0 0 #222222;
    color: #222222;
    opacity: 1;
}
.tab-div p {
    clear: left;
}
.tab-div #current {
    background: url("images/current-bg.gif") repeat-x scroll left top transparent;
    color: #FFFFFF;
}
